{{- $dir := .Get "dir" | default "images/gallery" -}}
{{- $dataLogos := slice -}}
{{- with site.Data.clientes -}}
  {{- with .logos -}}
    {{- $dataLogos = . -}}
  {{- end -}}
{{- end -}}
{{- $useData := gt (len $dataLogos) 0 -}}
{{- $images := resources.Match (printf "%s/*" $dir) -}}
{{- $images = where $images "MediaType.MainType" "image" -}}
<div class="client-logo-slider swiper">
  <div class="swiper-wrapper">
    {{- if $useData -}}
      {{- range $dataLogos -}}
        {{- if ne .enabled false -}}
          {{- $item := . -}}
          {{- with resources.Get $item.file -}}
            <div class="swiper-slide">
              <div class="client-logo-slide">
                <img
                  class="client-logo-img"
                  src="{{ .RelPermalink }}"
                  alt="{{ $item.alt | default $item.name }}"
                  loading="lazy" />
              </div>
            </div>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{- range sort $images "Name" -}}
        {{- $name := path.Base .Name -}}
        {{- $name = replace (replace $name "-" " ") "_" " " -}}
        {{- $name = replaceRE "\\.[^.]+$" "" $name -}}
        <div class="swiper-slide">
          <div class="client-logo-slide">
            <img
              class="client-logo-img"
              src="{{ .RelPermalink }}"
              alt="{{ $name | title }}"
              loading="lazy" />
          </div>
        </div>
      {{- end -}}
    {{- end -}}
  </div>
  <button
    class="client-logo-prev"
    type="button"
    aria-label="Clientes anteriores">
    <i class="fa fa-chevron-left"></i>
  </button>
  <button
    class="client-logo-next"
    type="button"
    aria-label="Clientes siguientes">
    <i class="fa fa-chevron-right"></i>
  </button>
</div>
